body {
  font-size: 10px;
  background: -webkit-linear-gradient(left, #f85032, #e73827);
  background: -o-linear-gradient(left, #f85032, #e73827);
  background: linear-gradient(to right, #f85032, #e73827); /* Chrome 10-25, Safari 5.1-6 */
}
.fade-in{
  opacity:0;
  opacity: 1 \9; /*just in case ie*/
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

}
.fade-in.title {
  animation-delay: 0.1s;
}
.fade-in.form-container {
  animation-delay: .3s;
}
.title {
  text-align: center;
  margin: 20px auto;
  font-size: 6rem;
  font-family: 'Raleway', cursive;
  background: linear-gradient(to right, #b993d6, #8ca6db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle {
  margin: 0 auto;
  font-size: 1.5rem;
  color: tomato;
  font-family: 'Lobster', cursive;
}
.sub-subtitle {
  font-size: 1rem;
  background: linear-gradient(to right, #b993d6, #8ca6db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sub-subtitle:hover{
  cursor: pointer;
}

.main-content {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.form {
  margin: 100px auto;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  background: white;
  margin: 20px auto;
  padding: 20px 20px;
  max-width: 40vw;
  display: flex;
  flex-direction: column;

}
.middle-container {
  display: flex;
  flex-direction: column;
}
.form_input-fields {
  width: 20vw;
  flex-direction: column;
  display: flex;
}

.input {
  color:tomato;
  font-size: 1rem;
  margin: 10px 10px;
  align-self: center;
  text-align: center;
  width: 40%;
  height: 20px;
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #b993d6;
  transition: all 0.3s ease-in-out;
}

.input:focus {
  width: 100%;
  border: 1px solid tomato;
  border-radius: 5px;

}
.submit-button {
  background-color: white;
  color: tomato;
  font-family: 'Lobster', cursive;
  margin-top: 20px;
  font-size: 1.9rem;
  outline: none;
  height: 49px;
  text-align: center;
  width: 20vw;
  border: 1px solid tomato;
  transition: all 0.4s ease;

}
.submit-button:hover {
  cursor: pointer;
  border-radius: 30px;
  background-color: tomato;
  border: white;
  color:white;
}
.card-footer {
  font-size: 0.8rem;
  color: tomato;

}

.error-container {
  text-align: center;
  margin: 25px auto;
  max-width: 40vw;
  animation-delay: .3s;
}

.error-item {
  color: tomato;
  background-color: white;
  font-size: 2rem;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
}

.login {
  display: none;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: tomato;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a, u {
    text-decoration: none;
    color: inherit;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
